---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog - ekagib";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <p>Here's what I have to write</p>
    <span class="typo-caption"
      >I minimise help of any Natural-language based AI systems to write my
      posts</span
    >
  </main>
</BaseLayout>

<style></style>
