---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home - ekagib";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <p>Here are my fun projects</p>
    <a href="https://wordpong.ekagib.com">Word Pong</a>
  </main>
</BaseLayout>
