---
const year = new Date().getFullYear();
---

<footer>
  <div class="content">
    <h2 class="">Ready to work and collaborate with me?</h2>
    <p>
      Mail me at <a href="mailto:ekagibran@gmail.com">ekagibran@gmail.com</a>
    </p>
    <br />
    <p class="copyright">
      &#169; {year} - Eka Gibran Hasany - Designed and built with minimal natural
      language AI tool use
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-primary);
  }

  footer * {
    color: white;
  }

  .content {
    margin: auto;
    padding: 3rem 2rem;
    max-width: 1400px;
    min-height: 300px;
  }

  .copyright {
    color: #d1d1d1 !important;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
  }
</style>
